/**{
    border-color:beige;
    border-style:dashed;
}*/

/* Body Formatting */
body{
    display:flex;
    flex-direction: column;
    margin:0px;
    padding:0px;
}

/* Header & Footer Formatting */
.header,.footer{
    background-color: #1F2937;
    color: #e5e7eb;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.logo{
    font-size: 24px;
    color:#f9faf8
}

/*1st Quarter Formatting*/
.first-quarter-content{
    display: flex;
    background-color: #1F2937;
    padding: 15px;
    align-items:center;
    padding: 50px;
    margin-bottom: 50px;
}

.head-title{
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
}

.sub-title{
    display:flex;
    max-width: 350px;
    color: #f9faf8;
    margin-bottom:5px;
}

button{
    background-color: #3882F6;
    color:#f9faf8;
    border-radius: 4px;
    border-color:#E5E7EB;
}

/*2nd Quarter Formatting*/
h2{
    display:flex;
    justify-content: center;
}

.container{
    display:flex;
    justify-content:center;
    gap:30px;
    padding: 15px;
    margin-bottom:30px;
}

/*3rd Quarter Formatting*/
.third-quarter-content{
    display: flex;
    flex-direction:column;
    background-color: #E5E7EB;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding:50px;
    color:#1f2937;
}
.chonky-text{
    font-size: 36px;
    font-style:italic;
}

.author{
    display:flex;
    font-weight:bolder;
    justify-content:flex-end;
}

/*4th Quarter Formatting*/
.fourth-quarter-content{
    display:flex;
    color: #E5E7EB;
    background-color:#3882F6;
    margin: 50px;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
}

.call-to-action-text{
    font-weight:bolder;
    font-size: 18px;
}

/*Footer Formatting*/
.footer{
    display:flex;
    justify-content: center;
}